@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto:300', sans-serif;
  
}

p{
  color:#FFFFFF;
  font-family: 'Roboto:100', sans-serif;
}



.main-container{
  display:flex;
  justify-content: center;
  align-items:center;
  min-width: 100vw;
  min-height: 100vh;
  background-color:#00baed;
  padding-top: 10px;
  padding-bottom: 10px
}

.sub-container{
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  padding: 2px 15px 2px 15px;
  flex-direction:column;
  height: 100vh;
}



.glass-morphism-container-hover-effect{
  position:relative;
  background-color: rgba(255, 255, 255,0.1);
  padding: 20px 25px 20px 25px;
  color:#008eb5;
  border-radius: 25px;
  border: solid 2px transparent;
   background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  backdrop-filter: blur(50px);
  overflow:hidden;
  cursor: pointer;
}

.glass-morphism-container-hover-effect::before{
  --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgba(255, 255, 255,0.2), transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
}

.glass-morphism-container-hover-effect:hover::before{
  --size: 400px;
}


